---
	import { Image } from 'astro:assets';

	import SocialButton from "./social-button.astro"
	import profileAvatar from "../assets/profile-avatar.png"

---

<div class="flex flex-raw justify-between">
	<div class="flex flex-col justify-between pt-4">
		<div>
			<h3 class="text-3xl">Hi, I'm Stamatis</h3>
			<p class="text-zinc-400">a software developer with strong focus on user experience, animations and micro interactions</p>
		</div>
		<div class="flex items-end">
			<SocialButton icon="grommet-icons:github"/>
			<SocialButton icon="grommet-icons:linkedin"/>
		</div>
	</div>
	<Image src={profileAvatar} height="200" alt="A bird sitting on a nest of eggs."/>
</div>